.banner { 
    height: 130vh;
    width: auto;
    background-image: url("../gvimages/spaceBG1flipped.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__img { 
    margin-top: 30vh;
    height: 100vh;
    width: auto;
    background-image: url("../gvimages/heroBG.png");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}