.display__wrapper{   
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: visible;
    background-image: url("../gvimages/Aquilan.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.display__container { 
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: visible;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.display { 
    width: 100vw;
    height: 100%;
    overflow: visible;
    background: rgba(0,0,0,.4);
}

.display__individual { 
    height: 54vh;
    overflow: visible;
    text-align: center;
    align-items: center;
    object-fit: contain;
    margin: 13vh auto;
}

.display__individual img {
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    margin: auto;
}

.display__individualText {
    text-align: center;
    width: 25vw;
}

.display__individualText p {
    margin-bottom: 0;
}


@media screen and (max-width: 960px) {
    .display { 
        width: 100vw;
        margin-top: 50px;
    }

    .display__wrapper { 
        height: 100%;
        padding-bottom: 30px;
    }


    .display__container { 
        flex-direction: column;
    }

    .display__individual { 
        height: 100%;
        overflow: visible;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .display__individualText {
        text-align: center;
        width: 90vw;
    }

    .display__individual img {
        max-width: 80vw;
        border-radius: 20px;
        height: 25vh;
        width: 25vh;
    }

}