
#providers {
    margin: 0;
    padding: 0;
}

#providers li {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 200px;
}

.minthome {
    display: flex;
    flex-direction: row;
}

.minthome__gif { 
    width: 35vw;
    height: 100vh;
    background-image: url("../gvimages/mintPage.gif");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.minthomeBg { 
    height: 100vh;
    width: 65vw;
    margin: 0;
    background-color: black;
    position: relative;
    z-index: 1;
    background-image: url("../gvimages/spaceBG1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minthome__wrapper { 
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    background-color: rgba(0,0,0,.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minthome__container { 
    position: absolute;
    right: 7vw;
    top: 20vh;
    width: 51vw;
    height: 60vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 5;
}

.minthome__info { 
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.minthome__info h1 { 
    margin: 0;
    margin-bottom: 10px;
}

.minthome__info p { 
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0;
}

.minthome__signIn button { 
    cursor:pointer;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-style: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: all 0.35s;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;

}

.minthome__signIn-false button {
    cursor:default;
    padding: 10px 20px;
    height: 70px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-style: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: all 0.35s;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;

}

.minthome__signIn button:hover {
    transform: scale(1.1);
    cursor: pointer; 
}

.minthome__signIn-input input { 
    width: 35%;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    outline-width: 0;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;

}

.minthome__signIn-input-false input { 
    cursor: default;
    width: 35%;
    background:#000;
    border-radius: 10px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    outline-width: 0;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;
}

.minthome__mint button { 
    padding: 0px 20px;
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-style: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;
}

.minthome__mint button:hover {
    transform: scale(1.1);
    cursor: pointer; 
}

.minthome__mint-false button { 
    padding: 0px 20px;
    height: 50px;
    width: 400px;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.35s;
    background:rgba(64,92,151,.6);
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: 'Gruppo', cursive;

}

@media screen and (max-width: 960px) {
    .minthome__gif { 
        display: none;
    }

    .minthomeBg { 
        width: 100vw;
    }

    .minthome__container {
        right: 5vw;
        top: 0;
        width: 90vw;
        height: 100%;
        overflow: visible;
    }
    

    .minthome__signIn button {
        width: 80%;
    }

    .minthome__mint button { 
        width: 90%;
        font-size: 1rem;
    }

    .minthome__mint-false button {
        width: 90%;
        font-size: 1rem;
    }
}
