.roadmap { 
  background-color: #000;
  background-image: url("../gvimages/spaceBG2flipped.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.roadmap__wrapper { 
  background-image: linear-gradient(210deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 200px;
  padding-right: 50px;
  padding-top: 200px;
}

.roadmap__container { 
  color: #fff;
  text-align: left;
  width: 80vw;
  overflow-y: hidden;
  height: auto;
}

.roadmap__container h1 { 
  margin: 0;
  font-size: 3.2rem;
  color: #fff;
  text-align: center;
}

.roadmap__container ul{
  padding: 0;
}

.roadmap__container h4 { 
  padding: 10px;
  margin: 0;
  color: #fff;
  font-size: 1.6rem;
}

.roadmap__plus::after{ 
  content: '+';
  float: right;
  margin-left: 5px;
}

.roadmap__minus::after{ 
  content: '-';
  float: right;
  margin-left: 5px;
}

.roadmap__container p { 
  padding: 0 10px;
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 10px;
}

.roadmap__container li{
  font-size: 1.2rem; 
  margin: 15px;
  padding: 5px 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: rgba(64,92,151,.6);;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #fff;
}

.roadmap__imgContainer {
  width: 70%;
}

.roadmap__group { 
  justify-content: center;
  align-items: center;
}

.roadmap__imgIndividual{ 
  width: 35vw;
  height: auto;
}

.roadmap-linksWrapper { 
  padding-top: 10px;
}

.roadmap-links {
  color: #fff;;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}


@media screen and (max-width: 800px) {
  .roadmap { 
      height: 100%;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
  }

  .roadmap__wrapper {
    background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,5) 80%, rgba(6, 9, 11,1) 100%);
    padding-bottom: 100px;
  }

  .roadmap__container { 
      width: 90vw;
  }
  
  .roadmap__container h1 {
      font-size: 2.6rem;
  }

  .roadmap__container h4 { 
      font-size: 1.3rem;
  }

  .roadmap__container p {
      font-size: 1rem;
  }

  .roadmap__imgContainer { 
      display: none;
  }
  .contractAddy { 
      font-size: 1rem;
  }
}