.team { 
    margin: 0;
    height: 100%;
    background-image: url("../gvimages/spaceBG1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    border-top: 1px solid #fff;
}

.team__container { 
    color: #000;
    text-align: center;
    overflow-x: visible;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 50%, rgba(0,0,0,1) 100%);
    width: 100vw;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team__container h1 { 
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3.4rem;
}

.team__core { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team__coreWrapper { 
    display: flex;
    flex-direction: row;
}

.team__individual { 
    width: 12vw;
    height: 100%;
    margin: auto 20px;
    margin-top: 0;
}

.team__individual a { 
    text-decoration: none;
    color: #fff;
}

.team__imgWrapper { 
    width: 12vw;
    height: 12vw;
    overflow: visible;
}

.team__imgWrapper img { 
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    border-radius: 15px;
    overflow: visible;
}

.team__textWrapper h2{ 
    margin-bottom: 0;
}



@media screen and (max-width: 960px) {
    .team { 
        flex-direction: column;
        height: 100%;
        border: none;
    }

    .team__container { 
        width: 100vw;
        height: 100%;
        overflow-x: visible;
    }

    .team__container h1 { 
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .team__coreWrapper { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto; 
        column-gap: 10px;
        row-gap: 15px;
    }

    .team__individual { 
        width: 25vw;
        margin: auto 5px;
    }
    
    .team__imgWrapper { 
        width: 25vw;
        height: 25vw;
    }
    
    .team__imgWrapper img { 
        width: 25vw;
        height: 25vw;
    }

    .text__wrapper h2{ 
        font-size: 1rem;
    }

    .text__wrapper p{ 
        font-size: 1rem;
    }

}
